streamlit
pandas
numpy
fastapi
uvicorn[standard]
python-dotenv
requests
scikit-learn
xgboost
catboost
lightgbm
matplotlib
plotly
seaborn
tqdm
imbalanced-learn
openpyxl>=3.0.0
xlrd>=2.0.0
optuna
polars
psutil